*{
    margin:0;
    padding:0;
}
body{
    background-color: #F1F1F1;
}
/*图标*/
.wrap .logo{
    margin:60px 0 0 50px;
}
.wrap .logo img{
    width: 100px;
}
/*登陆界面*/
.main_login{
    width:400px;
    height:481px;
    background-color: #FFFFFF;
    margin: 0 auto;
    box-shadow: 2px 2px 5px #ccc;
    border-radius:5px;
}
/*登陆注册标题*/
.wrap .main_login .title{
    padding-top:60px;
    text-align: center;
}
.wrap .main_login .title .ttl{
    font-size:20px;
    font-weight: 700;
    padding: 5px 10px 5px 10px;
}

.wrap .main_login .title .title_login{
    font-size:20px;
    font-weight: 700;
    color: #ccc;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    /*border-bottom: 2px solid #EA6F5A;*/
}
/*表单*/

/*修改input元素placeholder颜色*/
input::-webkit-input-placeholder{
    color: #A0A0A0;
}

.wrap .main_login .form{
    padding-top:50px;
    width: 300px;
    margin:0 auto;
    position: relative;
}
/*输入框样式*/
.wrap .main_login .form .email,.wrap .main_login .form .yanzhengma,.wrap .main_login .form .password,.wrap .main_login .form .sure_password{
    font-size:18px;
    padding: 4px 0px 4px 30px;
    box-sizing:border-box;
    background-color: #F8F8F8;
    border:1px solid #c8c8c8;
    border-radius:5px;
    height:50px;
    outline: none;
}
/*输入框前面的小图标*/
.wrap .main_login .form .little_email:before{
    content: '';
    display: block;
    width: 18px;
    height:18px;
    background-image: url("../img/email.png");
    background-size: 18px 18px;
    position: absolute;
    top:65px;
    left:8px;
}
.wrap .main_login .form .little_yanzhengma:before{
    content: '';
    display: block;
    width: 18px;
    height:18px;
    background-image: url("../img/security.png");
    background-size: 18px 18px;
    position: absolute;
    top:117px;
    left:8px;
}
/*发送验证码按钮*/
.wrap .main_login .form .send_yzm{
    position: absolute;
    top:108px;
    right:5px;
    display: inline-block;
    width: 100px;
    height:36px;
    text-decoration: none;
    color:white;
    font-size:14px;
    font-weight: 700;
    background-color: #A0C8E4;
    border-radius: 20px;
    text-align: center;
    padding-top:7px;
    box-sizing: border-box;
}
.wrap .main_login .form .little_password:before{
    content: '';
    display: block;
    width: 18px;
    height:18px;
    background-image: url("../img/password.png");
    background-size: 18px 18px;
    position: absolute;
    top:165px;
    left:8px;
}
.wrap .main_login .form .little_sure_password:before{
    content: '';
    display: block;
    width: 18px;
    height:18px;
    background-image: url("../img/password.png");
    background-size: 18px 18px;
    position: absolute;
    top:215px;
    left:8px;
}
/*重置密码按钮*/
.wrap .main_login .form .submit{
    background-color: #3294D0;
    height: 30px;
    border-radius: 20px;
    border:none;
    font-size:20px;
    color:white;
}

.wrap .main_login .form .submit{
    margin-top:20px;
    /*display: inline-block;*/
    height:40px;
}
/*返回登陆注册*/
.wrap .main_login .back{
    width:300px;
    margin:0 auto;
    text-align: center;
    margin-top:20px;
}
.wrap .main_login .back a{
    text-decoration: none;
    color:#A0A0A0;
}